<div class="footer-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <footer>
        <div>
          <p>
            Wethod S.r.l., Via Sile 41, 31056 Roncade, PI:04732090263
          </p>
          <p>
            <a href="http://app.wethod.com/registration">Crea il tuo Team</a> |
            <a href="http://app.wethod.com/">Sign in</a> |
            <a href="mailto:info@wethod.com">Contattaci</a> |
            <a href="http://wethod.com/privacy-policy/">Privacy policy</a> |
            <a href="http://www.wethod.com/terms-of-service/">Security policy</a>
          </p>
        </div>
      </footer>
    </div>
  </div>
</div>
</div>
